<div class="invoice-panel container mt-4" ng-controller="invoiceCtrl">
    <h2>Générateur de Facture</h2>

    <div class="mb-3">
        <div>
            <label>Nom du Client:
                <input class="form-control" ng-model="invoiceData.clientName" placeholder="Nom du client" type="text"/>
            </label>
            <label>Numéro de Facture:
                <input class="form-control" ng-model="invoiceData.invoiceNumber" placeholder="Numéro de facture"
                       type="number"/>
            </label>
            <label>Date de la Facture:
                <input class="form-control" ng-model="invoiceData.invoiceDate" type="date"/>
            </label>
        </div>
        <div>
            <label>SIRET:
                <input class="form-control" ng-model="invoiceData.companySIRET" placeholder="14 chiffres"
                       type="number"/>
            </label>
            <label>Numéro de TVA:
                <input class="form-control" ng-model="invoiceData.companyVATNumber"
                       placeholder="FR + sécurité + SIREN" type="text"/>
            </label>
        </div>
        <label>Adresse de l'entreprise:
            <input class="form-control" ng-model="invoiceData.companyAddress" placeholder="Adresse de l'entreprise"
                   type="text"/>
        </label>
        <label>Contact de l'entreprise:
            <input class="form-control" ng-model="invoiceData.companyContact"
                   placeholder="E-mail ou numéro de téléphone de l'entreprise." type="text"/>
        </label>
    </div>

    <h3>Articles:</h3>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Article</th>
            <th>Quantité</th>
            <th>Prix Unitaire</th>
            <th>Total</th>
            <th><i class="fa fa-cog"></i></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in invoiceData.items">
            <td>
                <label>
                    <select class="form-control" ng-change="updateItemDetails(item)"
                            ng-model="item.productId"
                            ng-options="product.id as product.name + ' ' +  product.description for product in products">
                        <option value="">Sélectionner un produit</option>
                    </select>
                </label>
            </td>
            <td><label>
                <input class="form-control" min="1" ng-change="updateItemTotal(item)" ng-model="item.quantity"
                       type="number"/>
            </label></td>
            <td>{{item.price | currency:"€"}}</td>
            <td>{{item.total | currency:"€"}}</td>
            <td><i class="fa fa-trash" ng-click="removeItem($index)"></i></td>
        </tr>
        </tbody>
    </table>
    <button class="btn btn-primary" ng-click="addInvoiceItem()"><i class="fa fa-plus"></i> Ajouter un Article</button>

    <div class="mt-4">
        <h3>Total Facture: {{calculateTotal() | currency:"€"}}</h3>
        <h4 class="small-text"> Veuillez penser à générer la facture avant de l'imprimer ou de la télécharger.</h4>
        <button class="btn btn-success" ng-class="{'vibrate-red': isPriceNaN()}" ng-click="generateInvoice()"><i
                class="fa fa-file p-lg-1"></i> Générer
        </button>
        <button class="btn btn-info" ng-click="printInvoice()" ng-show="invoiceGenerated"><i
                class="fa fa-print p-lg-1"></i> Imprimer - Télécharger
        </button>
    </div>
    <div class="generated-invoice" id="generated-invoice" ng-bind-html="generatedInvoiceHtml"></div>
</div>
