.footer, .footer-container {
    background-color: #f8f9fa;
}

.footer {
    padding: 10px;
    margin-top: 20px;
    border: 1px solid #ced4da;
    position: relative;
}

.footer-container {
    width: 90%;
    margin: auto;
    padding: 5px;
}

.footer-raw {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.contact-block, .support-block, .map-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
    min-height: 250px;
    flex: 1;
}

.footer h3, .footer p, .footer ul li {
    text-align: center;
}

.footer ul {
    list-style: none;
    padding-left: 0;
}

.footer ul li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.contact-icon, .icon {
    margin-right: 5px;
}

.footer ul li a {
    color: #007bff;
    text-decoration: none;
}

.icon {
    fill: #007bff;
    display: inline-block;
    padding: 45px 0;
    height: 60px;
    width: 60px;
    font-size: 3.5em;
    line-height: 0.04167em;
    vertical-align: -0.125em;
}

.map-dim {
    width: 450px;
    height: 250px;
    border-radius: 10px;
}

.copyright {
    font-size: 0.8em;
}

@media (max-width: 768px) {
    .footer-raw {
        flex-direction: column;
    }
}
