/* Styles Généraux */
.body-adjusted {
    position: fixed;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #343a40;
    margin: 0;
}

.container {
    width: 80%;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: auto;
}

/* Styles pour la barre de navigation */
.navbar-brand {
    font-weight: bold;
}

/* Styles pour les groupes de formulaires */
.form-group {
    margin-bottom: 15px;
}

/* Styles pour les titres h2 */
h2 {
    margin-bottom: 20px;
}
