<div>
    <h2>À Propos</h2>
    <div class="row">
        <div class="col-md-12">
            <h3>About Page</h3>
            <p>{{ info }}</p>
            <p> Losbum Ipsmoum dolor sit amet, consectetur adipisicing elit. Accusantium, adipisci alias aliquid amet
                architecto asperiores atque autem blanditiis consequatur cumque cupiditate delectus deleniti dicta
                dignissimos dolor doloremque doloribus dolorum ducimus ea earum eius eligendi eos error esse est
                excepturi exercitationem explicabo facere facilis fugiat fugit hic id illum impedit in incidunt ipsa
                ipsum iste itaque iure laboriosam laborum laudantium libero magnam magni maiores maxime minima minus
                molestiae mollitia natus necessitatibus neque nihil nisi nobis non nostrum nulla numquam obcaecati
                officia officiis omnis optio pariatur perferendis perspiciatis placeat porro possimus praesentium
                provident quae quas quasi qui quia quibusdam quisquam quod quos ratione recusandae rem repellat
                reprehenderit repudiandae rerum saepe sapiente sequi similique sit soluta sunt suscipit tempora
                temporibus tenetur totam ullam unde ut vel veniam veritatis voluptas voluptate voluptatem voluptates
                voluptatibus voluptatum. Ab accusamus accusantium adipisci alias aliquam aliquid amet animi aperiam
                architecto asperiores aspernatur assumenda at atque aut autem beatae blanditiis consequatur corporis
                culpa cum cupiditate delectus deleniti dicta dignissimos distinctio dolor dolorem doloremque doloribus
                dolorum ducimus ea earum eius eligendi error esse est et eveniet excepturi exercitationem expedita
                explicabo facere facilis fugiat fugit harum hic id illum impedit in incidunt ipsa ipsum iste itaque
                iure labore laboriosam laborum laudantium libero magnam magni maiores maxime minima minus molestiae
                mollitia natus necessitatibus neque nihil nisi nobis non nostrum nulla numquam obcaecati officia
                officiis omnis opt. Est, quibusdam, voluptatem. Ab accusamus accusantium adipisci alias aliquam aliquid
                amet animi aperiam architecto asperiores aspernatur assumenda at atque aut autem beatae blanditiis
                consequatur corporis culpa cum cupiditate delectus deleniti dicta dignissimos distinctio dolor
                dolorem doloremque doloribus dolorum ducimus ea earum eius eligendi error esse est et eveniet excepturi
                exercitationem expedita explicabo facere facilis fugiat fugit harum hic id illum impedit in incidunt
                ipsa
                ipsum iste itaque iure labore laboriosam laborum laudantium libero magnam magni maiores maxime minima
                minus
                molestiae mollitia natus necessitatibus neque nihil nisi nobis non nostrum nulla numquam obcaecati
                officia
                officiis omnis opt. Est, quibusdam, voluptatem. Ab accusamus accusantium adipisci alias aliquam aliquid
                amet
                animi aperiam architecto asperiores aspernatur assumenda at atque aut autem beatae blanditiis
                consequatur
                corporis culpa cum cupiditate delectus deleniti dicta dignissimos distinctio dolor dolorem doloremque
                doloribus dolorum ducimus ea earum eius eligendi error esse est et eveniet excepturi exercitationem
                expedita
                explicabo facere facilis fugiat fugit harum hic id illum impedit in incidunt ipsa ipsum iste itaque iure
                labore.
            </p>
        </div>
    </div>
</div>
