<footer class="footer">
    <div class="container footer-container">
        <!-- Section Liens Utiles -->
        <div class="row">
            <div class="col-md-3">
                <h3>Liens Utiles</h3>
                <ul>
                    <li><i class="fa fa-home contact-icon"></i><a href="#"> Accueil</a></li>
                    <li><i class="fa fa-cog contact-icon"></i><a href="#"> Services</a></li>
                    <li><i class="fa fa-box contact-icon"></i><a href="#"> Produits</a></li>
                    <li><i class="fa fa-info-circle contact-icon"></i><a href="#"> À Propos</a></li>
                    <li><i class="fa fa-envelope contact-icon"></i><a href="#"> Contact</a></li>
                </ul>
            </div>
            <!-- Section Contact -->
            <div class="col-md-3">
                <h3>Contact</h3>
                <p><i class="fa fa-map-marker-alt contact-icon"></i>Adresse : 123 Rue de la République, Lyon</p>
                <p><i class="fa fa-phone contact-icon"></i>Téléphone : +1 234 567 890</p>
                <p><i class="fa fa-envelope contact-icon"></i>Email : contact@monsite.com</p>
            </div>
            <!-- Section Newsletter -->
            <div class="col-md-3">
                <h3>Newsletter</h3>
                <p>Inscrivez-vous à notre newsletter pour recevoir les dernières mises à jour.</p>
                <form action="#">
                    <input placeholder="Entrez votre email" type="email">
                    <button type="submit">S'abonner</button>
                </form>
            </div>
            <!-- Section Réseaux Sociaux -->
            <div class="col-md-3">
                <h4>Suivez-nous</h4>
                <ul class="social-media-list">
                    <li><a href="#"><i class="fa fa-facebook"></i>Facebook</a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i>Twitter</a></li>
                    <li><a href="#"><i class="fa fa-instagram"></i>Instagram</a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i>LinkedIn</a></li>
                </ul>
            </div>
        </div>
        <!-- Droits d'auteur -->
        <div class="row">
            <div class="col-12">
                <p class="copyright">
                    &copy; 2023 MonSite. Tous droits réservés.
                </p>
            </div>
        </div>
    </div>
</footer>
