<footer class="footer">
    <div class="footer-container">
        <!-- Section Liens Utiles -->
        <div class="footer-raw">
            <div class="col-md-3">
                <h3>Contact</h3>
                <p><i class="fa fa-map-marker-alt contact-icon"></i>Adresse : 123 Rue de la République, Lyon</p>
                <p><i class="fa fa-phone contact-icon"></i>Téléphone : +1 234 567 890</p>
                <p><i class="fa fa-envelope contact-icon"></i>Email : contact@jopak.com</p>
            </div>
            <div class="col-md-3">
                <h3>Localisation</h3>
                <div id="map" style="height: 250px"></div>
            </div>
            <div class="col-md-3">
                <h3>Support</h3>
                <div>
                    <div class="support">
                        <div class="support__block">
                            <svg class="icon"
                                 viewBox="0 0 100 100">
                                <defs>
                                    <style>.a {
                                        fill: none;
                                        stroke: #000;
                                        stroke-width: 2px;
                                    }</style>
                                </defs>
                                <path class="a"
                                      d="M78.33 51.24V13H21.59v38.22m10.34-26.63h36.26M31.93 34.4h36.26m-36.26 9.8h36.26"></path>
                                <path class="a" d="m78.41 39.02 8.93 6.88v41.06H12.66V45.9l8.93-6.88"></path>
                                <path class="a"
                                      d="m87.26 45.9-37.3 22.79-37.3-22.79m0 41.06 29.82-22.84m44.86 22.84L57.52 64.12"></path>
                            </svg>
                        </div>
                        <div>
                            <p>Pour toute question, n'hésitez pas à nous contacter par email à support@jopak.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="copyright">
                    &copy; 2023 JoPak. Tous droits réservés.
                </p>
            </div>
        </div>
    </div>
</footer>
<script>
    var map = L.map('map').setView([45.764043, 4.835659], 13); // Coordonnées de Lyon

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '© OpenStreetMap contributors'
    }).addTo(map);

    var marker = L.marker([45.764043, 4.835659]).addTo(map) // Coordonnées de Lyon
        .bindPopup('123 Rue de la République, Lyon')
        .openPopup();
</script>
