<footer class="footer">
    <div class="footer-container">
        <!-- Section Liens Utiles -->
        <div class="footer-raw">
            <div class="col-md-3 contact contact_block">
                <h3>Contact</h3>
                <i class="icon fa-solid fa-phone fa-bounce"></i>
                <p><i class="fa fa-map-marker-alt contact-icon"></i>Adresse : 123 Rue de la République, Lyon</p>
                <p><i class="fa fa-phone contact-icon"></i>Téléphone : +1 234 567 890</p>
                <p><i class="fa fa-envelope contact-icon"></i>Email : contact@jopak.com</p>
            </div>
            <div class="col-md-3 map map-block">
                <div class="map-dim" id="map"></div>
            </div>
            <div class="col-md-3 support support_block">
                <h3>Support</h3>
                <i class="icon fa-solid fa-mail-forward fa-bounce"></i>
                <div>
                    <p>Pour toute question, n'hésitez pas à nous contacter par email à support@jopak.com</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p class="copyright">
                &copy; 2023 JoPak. Tous droits réservés.
            </p>
        </div>
    </div>
</footer>
<script>
    var map = L.map('map').setView([45.764043, 4.835659], 13); // Coordonnées de Lyon

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '© OpenStreetMap contributors'
    }).addTo(map);

    var marker = L.marker([45.764043, 4.835659]).addTo(map) // Coordonnées de Lyon
        .bindPopup('123 Rue de la République, Lyon')
        .openPopup();
</script>
